<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.4" targetFramework="net451" />
  <package id="DocSpace.Microsoft.Practices.ServiceLocation" version="3.1.0" targetFramework="net451" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net451" />
  <package id="LinqKit" version="1.1.14" targetFramework="net451" />
  <package id="Unity" version="5.8.9" targetFramework="net451" />
  <package id="Unity.Abstractions" version="3.3.1" targetFramework="net451" />
  <package id="Unity.Container" version="5.8.11" targetFramework="net451" />
</packages>